/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #000000;
}
.paragraph {
  color: #2d3a35;
  font-size: 20px;
}
.click-btn {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
  border-width: none;
  cursor: pointer;
  outline: none;
}
